cffi==1.16.0
cryptography==41.0.4
greenlet==3.0.1
numpy==1.26.2
pandas==2.0.2
pycparser==2.21
PyMySQL==1.0.3
pyserial==3.5
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
SQLAlchemy==2.0.15
typing_extensions==4.8.0
tzdata==2023.3